html {
   font-family: 'MontrealRegular'; 
   font-weight: normal; 
   font-style: normal;
   color: white;
   text-align: center;
}

body{
background: #6E48AA;
background: -webkit-linear-gradient(45deg, #9D50BB, #9D50BB, #6E48AA) fixed;
background: linear-gradient(45deg, #9D50BB, #9D50BB, #6E48AA) fixed;
}

h1{
	padding-top: 50px;
	padding-bottom: 50px;
}

#img{
	padding-top: 50px;
}

#contact a{
color: #ffffff;
padding-bottom: 50px;
}

#contact a:hover{
color: #f6ec13;
}

.githubpic{
width: 250px; 
height: 250px;
margin: 0;
display: inline-block;
margin-left: auto;
margin-right: auto;
padding-right: 0px;
}

.linkedinpic{
width: 250px; 
height: 250px;
margin: 0;
display: block;
margin-left: auto;
margin-right: auto;
padding-left: 0px;
padding-top: 25px;
}

.twitterpic{
width: 250px; 
height: 250px;
margin: 0;
display: block;
margin-left: auto;
margin-right: auto;
padding-left: 0px;
padding-top: 25px;
}

.resumepic{
width: 250px;
height: 250px;
margin: 0;
display: block;
margin-left: auto;
margin-right: auto;
padding-left: 0px;
padding-top: 25px;
}

.gitrandompic{
width: 85%; 
height: auto;
margin: 0;
padding: 0;
padding-bottom: 20px;
}

#aws {
	padding-top: 50px;
	padding-bottom: 50px;
}

.awspic {
	width: 250px;
}

@media (min-width: 650px) {


.githubpic{
width: 250px; 
height: 250px;
margin: 0;
display: inline-block;
margin-left: auto;
margin-right: auto;
padding-right: 30px;
}

.twitterpic{
width: 250px; 
height: 250px;
margin: 0;
display: inline-block;
margin-left: auto;
margin-right: auto;
padding-left: 30px;
padding-right: 30px;
}

.linkedinpic{
width: 250px; 
height: 250px;
margin: 0;
display: inline-block;
margin-left: auto;
margin-right: auto;
padding-left: 30px;
}

.resumepic{
width: 250px;
height: 250px;
margin: 0;
display: inline-block;
margin-left: auto;
margin-right: auto;
padding-left: 30px;
}

.gitrandompic{
width: auto; 
height: auto;
margin: 0;
padding-bottom: 25px;
}

}
